MeetingScheduler/TestClient/Service References/WFService/BookingWFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39312/BookingWFService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MeetingScheduler.Core" />
  <xs:element name="ScheduleMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MeetingScheduler.Core" minOccurs="0" name="EmployeeArray" nillable="true" type="q1:ArrayOfUser" />
        <xs:element minOccurs="0" name="MeetingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>