MeetingScheduler/BookingWorkFlowService/Service References/CalendarServiceReference/CalendarSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39301/CalendarSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39301/CalendarSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39301/CalendarSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MeetingScheduler.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarSvc_CheckAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAvailability" />
  </wsdl:message>
  <wsdl:message name="ICalendarSvc_CheckAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarSvc_InsertUserCalendarEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserCalendarEvent" />
  </wsdl:message>
  <wsdl:message name="ICalendarSvc_InsertUserCalendarEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserCalendarEventResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarSvc">
    <wsdl:operation name="CheckAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarSvc/CheckAvailability" message="tns:ICalendarSvc_CheckAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarSvc/CheckAvailabilityResponse" message="tns:ICalendarSvc_CheckAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserCalendarEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarSvc/InsertUserCalendarEvent" message="tns:ICalendarSvc_InsertUserCalendarEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarSvc/InsertUserCalendarEventResponse" message="tns:ICalendarSvc_InsertUserCalendarEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarSvc" type="tns:ICalendarSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAvailability">
      <soap:operation soapAction="http://tempuri.org/ICalendarSvc/CheckAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserCalendarEvent">
      <soap:operation soapAction="http://tempuri.org/ICalendarSvc/InsertUserCalendarEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarSvc">
    <wsdl:port name="BasicHttpBinding_ICalendarSvc" binding="tns:BasicHttpBinding_ICalendarSvc">
      <soap:address location="http://localhost:39301/CalendarSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>